.i-right{
    background-color: rgb(190, 244, 53);
     color: blue;
  
}
.i-right1{
    background-color:gray;
     
  
}
.i-right2{
    background-color: whitesmoke;
     
  
}
.i-right3{
    background-color: rgb(22, 236, 244);
     
  
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
  }


.body {
    box-sizing:border-box ;
}
body{
    margin: 0;
    background-color:rgb(242, 255, 242);

}
.nav{
    background-color: rgb(12, 12, 12);
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    gap:0rem;
    padding: 0 1rem;

}
.a-site{
    font-size: 2rem;
}
.nav.ul li{
    padding:0;
    margin:20px;
    list-style: none;
    display:flex;
    gap:1rem;

    list-style: none;
    display:inline-block;
    margin:0 20px;
    position:absolute;
}
.nav a{
    color:inherit;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
    padding:.25rem;
    /* position: relative; */
}


.nav li.active::after{
    background-color:#555;
    content:'';
    height:3px;
    width:0;
    background:#009688;
    /* position:absolute; */
    left:0;
    /* bottom:-10px;
    transition: 0.5s; */
}
.nav li.active:hover::after{
    width:100%;


}
.nav.ul{
    margin:20px;
    padding:0px;
    box-sizing:border-box;
}

.backimage{
    width: 100%;
    height:300vh;
    background-image: url("file:///home/prajwal/Downloads/abc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    


}
.a{
   margin:10% auto 0;
   color:rgb(33, 238, 234);
   font-size: 30px;
   text-align:center;


}
span{
    color:rgb(15, 240, 90);
}


.prajwal{
    width:200px;
    padding:15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius:25px;
    font-weight:bold;
    border:2px solid #009688;
    background: transparent;
    color:#fff;
    cursor: pointer;
    position:relative;
    overflow: hidden;
}

span1{
    background: #009688;
    height:100%;
    width:100%;
    border-radius: 25px;
    /* position:absolute; */
    left:0;
    bottom:0;
    z-index:-1;
}
